/* GERAL */
* { 
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: sans-sarif;
 background-color: #fff0f5;
 color: #333;
}
/* TOPO */
header {
  background-color: #e91e8c;
  color: white;
  text-align: center;
  padding: 40px 20px;
}
header h1 {
  font-size: 36px;
  margin-bottom: 10px
}
header p {
  font-size: 16px
}

/* SERVIÇOS */

#servicos {
  padding: 40px 20px;
  text-align: center;

 .card { 
   background-color: white;
   border-radius: 12px 
   padding: 20px
   margin-bottom: 16px
   box-shadow: 0 2px 8px rgba(0,0,0,0,1.)
 }
 .card h3 { 
   font-size: 18px;
   margin-bottom: 8px;
   color: #e91e8c;
 }
 .card p {
   font-size: 14px;
   color: #666;
 }

 /* BOTÃO */

#agendar {
  text-align: center;
  padding: 40px 20px;
  background-color: #e91e8c;
}
#agendar h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}
#agendar p {
  color: white;
  margin-bottom: 20px;
}
button {
  background-color: white;
  color: #e91e8c;
  border: none;
  padding: 14px 32px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
  
    

  
  
  
